.customadd__btn {
  background-color: var(--secondary-color);
  width: 150px;
  padding: 1em 0.8em;
  border-radius: 0.5em;
  border: none;
  border-radius: 0.5em;

  box-shadow: 0 3px 5px var(--text-color);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.customadd__btn:hover {
  background-color: var(--hover-primary);
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.customadd__btn:hover p {
  color: var(--secondary-color);
}

.customadd__btn-content {
  display: flex;
}

.customadd__btn-content_left {
  width: 30%;
  flex-basis: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customadd__btn-content_left span {
  display: inline-block;
  padding: 0.4em;
  background-color: var(--primary-color);
  color: whitesmoke;
  border-radius: 0.3em;
}

.customadd__btn-content_left span i,
.customadd__btn-content_left span svg {
  color: #fff;
}

.customadd__btn-content_right {
  flex-basis: 3;
  width: 65%;
  margin-left: 1em;
  line-height: -100%;
}

.customadd__btn-content_right p {
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 1em;
  color: var(--text-color);
}

.inforcard__content-right h3 {
  font-size: bolder;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
}
