.register__site {
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.register__site h1,
.register__site h2 {
  color: #fff;
}

.register__left {
  flex-basis: 1;
  width: 80%;
  margin-right: 4em;
  padding: 1em;
}

.register__right {
  width: 100%;
  flex-basis: 1;
}

.register__right-img {
  width: 80%;
}

@media (max-width: 767px) {
  .register__right {
    display: none;
  }

  .register__left {
    margin: auto;
    width: 100%;
  }

  .register__site {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .register__right {
    display: none;
  }

  .register__left {
    width: 50%;
    margin: auto;
  }
}
