.position__page-profile {
  width: 100%;
  padding: 20px;
  margin: auto;
}

.position__page-profile_left {
  display: flex;
  max-width: 800px;
  margin-bottom: 20px;
}

.position__page-profile_photo {
  width: 15em;
  margin-right: 20px;
}

.position__page-profile_right {
  flex: 1;
}

.position__page-profile_right-btns {
  margin-top: 10px;
  display: flex;
}

.position__page-profile_right-btns .btn {
  font-size: 0.9rem;
  width: auto;
  margin-right: 0.5em;
}

.position__page-profile_btn-edit,
.position__page-content_btn,
.position__page-profile_btn-delete {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

/* card details ===>()<==== */

.position__page-profile_right-details,
.position__page-profile_right-details_fl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.8em;
}
/* inside the form user details */
.position__page-profile-details_control {
  width: calc(100% / 2 - 10px);
}

.position__page-profile-details_control p {
  font-weight: 100;
}

.position__page-profile_right-details_fl
  .position__page-profile-details_control {
  width: calc(100%);
  margin-top: 0;
}

.position__page-profile-details_control .details {
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 5px;
  display: block;
}

.position__page-profile-details_control button {
  margin-right: 0.4em;
}

.position__page-profile-details_control button.add {
  background-color: var(--light-green);
}
.position__page-profile-details_control button.cancel {
  background-color: var(--main-red);
}

.position__page-profile-details_control input,
.position__page-profile-details_control textarea {
  height: 45px;
  width: 100%;
  overflow-x: hidden;
  resize: vertical;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.position__page-profile-details_control textarea {
  height: 5em;
}

.position__page-profile-details_control input:focus,
.position__page-profile-details_control input:valid,
.position__page-profile-details_control textarea:focus,
.position__page-profile-details_control textarea:valid,
.position__page-profile-details_control textarea.valid {
  border-color: var(--icon-color);
}

/* content and forms */

/* .election__page-content {
} */

.position__page-content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em;
  background-color: #4caf4f16;
}

.position__page-content_header-title h5 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.position__page-content_header-title p {
  font-weight: 100;
}

.position__view-btn {
  display: inline-block;
  line-height: 100%;
  padding: 0.4em;
  background-color: rgba(255, 255, 255, 0.153);
  border-radius: 0.3em;
  border: none;
  margin-left: 0.5em;
  cursor: pointer;
}

.position__view-btn:hover {
  background-color: rgb(200, 206, 190);
}

.position__view-btn.active {
  background-color: var(--icon-color);
}

.position__view-btn svg,
.position__view-btn i {
  font-size: 1.3rem;
  color: var(--icon-color);
}

.position__view-btn.active svg,
.position__view-btn.active i {
  color: rgb(255, 255, 255);
}

.position__page-content_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8em;
}

.position__page-content_container.grid__view {
  grid-template-columns: repeat(4, 1fr);
}
