.main__navigation {
  width: 295px;
  min-height: 100%;
  background: var(--nav-bg-color);
  border-left: 4px solid #84d611;
  transition: 0.5s;
  position: sticky;
  top: 0;
  padding-top: 6em;

  -webkit-box-shadow: 0px 2px 40px 24px rgba(44, 41, 46, 0.38);
  -moz-box-shadow: 0px 2px 40px 24px rgba(44, 41, 46, 0.38);
  box-shadow: 0px 2px 40px 24px rgba(44, 41, 46, 0.38);
}

.main__navigation.active {
  width: 70px;
}

.main__navigation.active .title {
  display: none;
}

.navigation__toggle {
  position: absolute;
  top: 4em;
  margin-left: 1em;
}

.main__navigation-logo {
  width: 50%;
  margin: 0 auto;
  border: 2px solid #84d611;
  border-radius: 5px;
  padding: 0.3em;
}
.main__navigation ul {
  width: 100%;
}

.main__navigattion ul li {
  color: var(--nav-text-color);
  width: 100%;
  display: flex;
  align-items: center;

  margin: 0.2em;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.main__navigation ul li:hover {
  background-color: var(--white);
  color: var(--bg-color);
}

.main__navigation ul li a {
  width: 100%;
  display: flex;
  text-decoration: none;
  position: relative;
  color: var(--nav-text-color);
}

.main__navigation ul li a.active::after {
  content: "";
  position: absolute;
  background-color: rgb(255, 0, 0);
  border-radius: 5px 0 0px 5px;
  height: 30%;
  width: 10px;
  left: -5px;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.main__navigation ul li:hover a,
.navigation ul li a {
  color: var(--bg-color);
}

.main__navigation ul li a.active {
  color: var(--icon-color);
  background-color: transparent;
}

.main__navigation ul li .icons {
  display: inline-block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.main__navigation ul li a .icons {
  font-size: 1.75rem;
}

.main__navigation ul li a .title {
  display: inline-block;
  padding: 0 10px;
  height: 10px;
  line-height: 60px;
  white-space: nowrap;
  font-weight: 500;
}

.main__navigation ul li:hover {
  border-radius: 15px 0px 0px 10px;
}

.icons {
  font-size: 1.75rem;
}

.main__navigation-btn {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 0 !important;
  border-radius: 0px !important;
}
