.dashboard {
  position: relative;
  min-height: 100dvh;
  background-color: transparent;
}

.dashboard__content {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 4fr 2fr;
}

.dashboard__stats {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0.5em;
  overflow-x: scroll;
  gap: 0.5em;
  align-items: center;
}

.dashboard__content-election_header {
  display: flex;
  color: var(--text-color);
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--secondary-color);
  border-radius: 0.4em;
  margin-bottom: 0.6em;
  box-shadow: 0 1px 1px grey;
}

.dashboard__content-election.grid__view .dashboard__content-election_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 0.6em;
}

.dashboard__content-election_header-title h5 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.dashboard__content-election_header-title p {
  font-weight: 500;
}

.dashboard__content-election_header-btns {
  border-radius: 0.3em;
  padding: 0.2em;
  background-color: var(--primary-color);
}

dashboard__content-election_header-btns .election__view-btn {
  display: inline-block;
  line-height: 100%;
  padding: 0.4em;
  color: var(--primary-color);
  border-radius: 0.3em;
  border: none;
  margin-left: 0.5em;
  cursor: pointer;
}

dashboard__content-election_header-btns .election__view-btn svg,
dashboard__content-election_header-btns .election__view-btn i {
  font-size: 1.3rem;
}

dashboard__content-election_header-btns .election__view-btn.active svg,
dashboard__content-election_header-btns .election__view-btn.active i {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.dashboard__content-right {
  height: 100%;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.5em;
}

.logs__card {
  padding: 1em 2em;
  border: none;
  position: relative;
  border-radius: 0.5em;
}

.logs__card-title {
  position: relative;
  padding: 2em 0;
}

.logs__card-title h5 {
  padding-bottom: 1em;
  font-size: 1.2rem;
}

.logs__card-title::after {
  content: "";
  position: absolute;
  height: 0.1em;
  width: 100%;
  background-color: rgba(192, 28, 28, 0.744);
}

.logs__card-content {
  overflow-x: scroll;
  max-height: 450px;
}

.logs__card-content ul li {
  background-color: rgb(90, 90, 90);
  padding: 0.5em;
  margin-bottom: 0.2em;
  transition: all 0.3s ease;
  cursor: pointer;
}

.logs__card-content ul li:hover {
  background-color: rgb(133, 133, 133);
}

.logs__card-content ul li h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.logs__card-content ul li p {
  font-weight: 300;
  font-size: 0.8rem;
}

.dashboard__content-election_cards {
  overflow-x: scroll;
  max-height: 450px;
}

.dashboard__content-election_empty {
  margin: auto;
  font-weight: 200;
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 500;
}

.dashboard__content-election_empty button {
  text-transform: capitalize;
  padding: 0.5em 1em;
}

.dashboard__content-election_empty-btn {
  padding: 0.5em 1em;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
}

.dashboard__content-election_empty-btn:hover {
  opacity: 0.9;
  color: var(--secondary-color);
}

.dashboard__content-election_empty-btn svg {
  line-height: 100%;
  color: var(--primary-color);
  margin-right: 0.5em;
}

@media screen and (max-width: 600px) {
  .dashboard__stats {
    height: 15em;
    margin-bottom: 1em;
  }

  .dashboard__stats > * {
    width: 100%;
  }

  .dashboard__content-election.grid__view .dashboard__content-election_cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1020px) {
  .dashboard__content {
    grid-template-columns: 1fr;
  }
  .dashboard__content-right {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .dashboard__content-election_header-title p {
    font-size: 0.8rem;
    width: 80%;
  }

  .dashboard__content-election_header-btns button {
    font-size: 0.4rem;
  }
}
