.election__page-profile {
  width: 100%;
  padding: 20px;
  position: relative;
  margin: auto;
}

.election__page-profile_left {
  display: flex;
  max-width: 800px;
  margin-bottom: 20px;
}

.election__page-profile_photo {
  width: 15em;
  margin-right: 20px;
}

.election__page-profile_photo-selector {
  border: 0.2em solid var(--success-color);
  border-radius: 0.2em;
}

.election__page-profile_right {
  flex: 1;
}

.election__page-profile_right-btns {
  margin-top: 10px;
  display: flex;
}

.election__page-profile_right-btns .btn {
  font-size: 0.9rem;
  width: auto;
  margin-right: 0.5em;
}

.election__page-profile_btn-edit,
.election__page-content_btn,
.election__page-profile_btn-delete {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.election__page-profile_right-details,
.election__page-profile_right-details_fl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.8em;
}
/* inside the form user details */
.election__page-profile-details_control {
  width: calc(100% / 2 - 10px);
}

.election__page-profile-details_control p {
  font-weight: 100;
}

.election__page-profile_right-details_fl
  .election__page-profile-details_control {
  width: calc(100%);
  margin-top: 0;
}

.election__page-profile-details_control .details {
  font-weight: 500;
  color: var(--accent-color);
  margin-bottom: 5px;
  display: block;
}

.election__page-profile-details_control button {
  margin-right: 0.4em;
}

.election__page-profile-details_control button.cancel {
  background-color: var(--error-color);
}

.election__page-profile-details_control input,
.election__page-profile-details_control textarea {
  height: 45px;
  width: 100%;
  overflow-x: hidden;
  resize: vertical;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.election__page-profile-details_control textarea {
  height: 5em;
}

.election__page-profile-details_control input:focus,
.election__page-profile-details_control input:valid,
.election__page-profile-details_control textarea:focus,
.election__page-profile-details_control textarea:valid,
.election__page-profile-details_control textarea.valid {
  border-color: var(--success-color);
  color: var(--secondary-color);
}

.election__page-content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em;
  background-color: var(--secondary-color);
  box-shadow: 0 1px 1px grey;
  border-radius: 0.4em;
}

.election__page-content_header-title h5 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.election__page-content_header-title p {
  font-weight: 100;
}

.election__view-btn {
  display: inline-block;
  line-height: 100%;
  padding: 0.4em;
  background-color: var(--secondary-color);
  border-radius: 0.3em;
  border: none;
  margin-left: 0.5em;
  cursor: pointer;
}

.election__view-btn:hover {
  background-color: var(--accent-color);
}

.election__view-btn.active {
  background-color: var(--icon-color);
}

.election__view-btn svg,
.election__view-btn i {
  font-size: 1.3rem;
}

.election__view-btn.active svg,
.election__view-btn.active i {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.election__page-content_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8em;
  padding-top: 0.9em;
}

.election__page-content_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 0.6em;
}

.election__page-content_container.empty,
.election__page-content_container.empty {
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  font-weight: 200;

  text-align: center;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.election__page-content_container-empty {
  font-weight: 200;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}

.election__page-content_container-empty svg {
  font-size: 1.8rem;
}

.election__page-form {
  margin-bottom: 0.8em;
  border-radius: 0.3em;
  color: var(--text-color);
  background-color: var(--secondary-color);
  padding: 1em 2em;
}

.election__page-form textarea,
.election__page-form input {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.election__page-form input:focus,
.election__page-form input:valid,
.election__page-form textarea:focus,
.election__page-form textarea:valid,
.election__page-form textarea.valid {
  border-color: var(--success-color);
  color: var(--accent-color);
}

.election__page-form .btn {
  margin-top: 1.2em;
}

.election__page-form .election__page-profile-details_control.fl {
  width: calc(100% / 1.2 - 5px);
}

.btn.cancel {
  background-color: var(--error-color);
}

.election__page-profile-details_control-btns {
  display: flex;
  flex-direction: column;
}

.election__page-profile-details_control-btns .btn {
  font-size: 0.8rem;
  padding: auto 0.5em;
}

@media screen and (max-width: 860px) {
  .election__page-profile_left {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 980px) {
  .election__page-form .election__page-profile-details_control.fl {
    width: 100%;
  }
  .election__page-form .election__page-profile-details_control.sl {
    width: calc(100%);
  }
}
