.card {
  border: 2px solid var(--text-color);
  border-radius: 0.8em;
  padding: 0.5em;
}

.card:hover {
  box-shadow: 0 0 10px grey;
}

.voteresult__content {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(4, 1fr);
}
