.createelection {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.94);
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  position: relative;
}

.createelection__content {
  max-width: 980px;
  padding: 3em;
  width: 100%;
}

.createelection__content h2 {
  position: relative;
}

.createelection__content h2::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 50px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.createelection__form .createelection__form-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 12px 0;
}

.createelection__form-details_control {
  width: calc(100% / 2 - 15px);
  margin-bottom: 15px;
}

.createelection__form-details-fl .createelection__form-details_control {
  width: calc(100%);
}

.createelection__form-details_control .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.createelection__form-details_control input,
.createelection__form-details_control textarea {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.createelection__form-details_control textarea {
  height: 5em;
}

.createelection__form-details_control input:focus,
.createelection__form-details_control input:valid,
.createelection__form-details_control textarea:focus,
.createelection__form-details_control textarea.valid {
  border-color: var(--light-green);
}

form .button {
  height: 45px;
  margin: 45px 0;
  display: flex;
  gap: 2em;
}

form .button button {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

form .button button:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}
