.app__layout {
  background-color: var(--layout-bg-color);
  min-height: 100dvh;
  position: relative;
}

.app__layout-content_left {
  width: 300px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: inherit;
  z-index: 5;
  position: absolute;
  top: 0;
  background-color: var(--layout-bg-color);
  position: fixed;
  transition: all 0.5s;
  font-weight: bold;
}

.app__layout-content_left.active {
  width: 80px;
}

.app__layout-content_right {
  transition: all 0.5s;
  padding-top: 80px;
  margin-left: 80px;
  padding-right: 1em;
}
