.positioncard__result {
  background-color: var(--secondary-color);
  padding: 0.683em 0.83em;
  border-radius: 0.5em;
  transition: all 0.3s ease;
  height: 100%;
  box-shadow: 0 0 0.6em rgba(133, 133, 133, 0.103);
}

.positioncard__result:hover {
  transform: scale(0.98);
}

.positioncard__result-content {
  display: flex;
  align-items: flex-start;
}

.positioncard__result-icon {
  display: inline-block;
  padding: 0.3em;
  border-radius: 0.2em;
  border: none;
  font-size: 1rem;
  background-color: var(--focus-outline);
  color: var(--icon-color);
}

.positioncard__result-left {
  padding-right: 0.89em;
}

.positioncard__result-right {
}

.positioncard__result-info {
  margin-bottom: 0.5em;
}

.positioncard__result-info h5 {
  font-size: 1.1rem;
}

.positioncard__result-info p {
  font-weight: 100;
  font-size: 0.9rem;
}
