.candidates__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5em;
}

.candidates__content-empty {
  margin: auto;
  font-weight: 200;
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  color: var(--text-color);
}

.candidates__content-empty svg {
  font-size: 1.5rem;
}
