.positioncard {
  display: flex;
  padding: 1em;
  background-color: var(--secondary-color);
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  position: relative;
  flex-direction: column;
  max-width: 300px;
}

.positioncard__header,
.positioncard__content,
.positioncard__footer {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  margin-bottom: 0.5em;
}

.positioncard__footer {
  margin-bottom: 0;
  width: 100%;
}

.positioncard__footer-profile {
  margin-top: 0.8em;
  right: 0;
}

.positioncard__header h3,
.positioncard__content h4,
.positioncard__footer-profile {
  margin-bottom: 0.5em;
  font-size: 0.9rem;
}

.positioncard__footer-remaining {
  padding: 0.3em;
  display: flex;
  border-radius: 0.5em;
  gap: 0.5em;
  justify-content: space-between;
  flex-direction: row;
  color: var(--bg-color);
  font-weight: bolder;
}
.positioncard__footer-remaining p {
  font-weight: bolder;
}
/* grid view */

.positioncard__header h3,
.positioncard__content h4,
.positioncard__footer-profile {
  margin-bottom: 1em;
  font-size: 0.9rem;
}

.electioncard__footer-profile {
  display: flex;
  align-items: center;
  position: relative;
}

.electioncard__footer-profile a {
  margin-left: 3em;
  color: var(--icon-color);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.electioncard__footer-profile a:hover {
  transform: translateY(-0.2em);
}

.electioncard__footer-remaining {
  background-color: var(--icon-color);
  padding: 0.3em;
  border-radius: 0.5em;
  color: var(--bg-color);
  font-weight: bolder;
}

.electioncard__footer-remaining p {
  font-weight: bolder;
}

.positioncard__footer-remaining_btn {
  background-color: darkgoldenrod;
  color: whitesmoke;
  padding: 0.5em;
  border: none;
  font-size: 0.8rem;
  text-transform: capitalize;
  border-radius: 0.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 0.6em;
}

.positioncard__footer-remaining_btn svg {
  margin-right: 0.5em;
}

.positioncard__footer-remaining_btn:hover {
  opacity: 0.9;
}
