.createelection {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.678);
  display: flex;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
  z-index: 5;
}

.createelection__modal {
  max-width: 800px;
  width: 100%;
  margin-top: 40px;
  background: var(--nav-bg-color);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.138);
}

.createelection__modal h2 {
  position: relative;
}

.createelection__modal h2::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.createelection__form-details,
.createelection__form-categories-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0 12px 0;
}

/* inside the form user details */
.createelection__form-details_control,
.createelection__form-categories-control_details {
  width: calc(100% / 2 - 50px);
  margin-bottom: 15px;
  margin-right: 0.8em;
}

.createelection__form-details_control .details,
.createelection__form-categories-control_details .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.createelection__form-details_control input,
.createelection__form-categories-control_details input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.createelection__form-details_control input:focus,
.createelection__form-details_control input:valid,
.createelection__form-categories-control_details input:focus,
.createelection__form-categories-control_details input:valid {
  /* border-color: var(--main-purple); */
  border-color: var(--icon-color);
}

/* inside the form gender details */
form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

form input[type="radio"] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 45px 0;
  display: flex;
  gap: 2em;
}

.createelection__form-categories-btn {
  display: inline;
  height: 100%;
  margin-top: 30px;
  color: var(--icon-color);
  /* background-color: var(--secondary-color); */
  padding: 0.5em;
  border-radius: 0.3em;
  transform: background 0.3s ease;
  cursor: pointer;
}

.createelection__form-categories-btn:hover {
  background-color: rgba(218, 216, 216, 0.787);
}

form .button button {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  /* background: linear-gradient(135deg, var(--main-blue), var(--main-purple)); */
  transition: all 0.3s ease;
}

/* form .button button:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
} */

@media only screen and (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  .createelection__form-categories-control {
    margin-bottom: 2em;
  }

  .createelection__form-details_control,
  .createelection__form-categories-control_details {
    margin-bottom: 10px;
    width: 100%;
    position: relative;
  }

  .createelection__form-categories-btn {
    margin-top: 5px;
  }

  .createelection__form-candidates {
    max-height: 300px;
    overflow-y: scroll;
  }

  .createelection__form-candidates::-webkit-scrollbar {
    width: 0;
  }
}
