.elections {
  width: 100%;
  overflow: hidden;
}

.elections__view {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding: 1em 1em;
  background-color: #4caf4f16;
  margin-bottom: 0.5em;
}

.elections__view-btns {
  display: inline-block;
  line-height: 100%;
  padding: 0.4em;
  background-color: rgba(255, 255, 255, 0.153);
  border-radius: 0.3em;
  border: none;
  margin-left: 0.5em;
  cursor: pointer;
}

.elections__view-icons {
  line-height: 100%;
  padding: 0.4em;
  background-color: rgba(255, 255, 255, 0.153);
  border-radius: 0.3em;
  border: none;
  margin-left: 0.5em;
  cursor: pointer;
}

.elections__view-icons.active {
  background-color: var(--icon-color);
}

.elections__view-icons.active svg,
.elections__view-btns.active i {
  color: whitesmoke;
}

.elections__filter-view svg,
.elections__filter-view i {
  font-size: 1.3rem;
  color: var(--icon-color);
}

.elections__content {
  display: grid;

  gap: 0.6em;
}

.elections__content.grid__view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  gap: 0.6em;
}
