.elections {
  width: 100%;
  overflow: hidden;
  color: var(--text-color);
}

.elections__view {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding: 1em 1em;
  background-color: var(--secondary-color);

  margin-bottom: 0.5em;
}

.elections__view-btns {
  display: inline-block;
  line-height: 100%;
  padding: 0.2em;
  background-color: transparent;
  border: 1px solid var(--marker-color);
  border-radius: 0.3em;
  /* border: none; */
  margin-left: 0.5em;
  cursor: pointer;
}

.elections__view-icons {
  line-height: 100%;
  padding: 0.4em;
  background-color: transparent;
  border-radius: 0.3em;
  border: none;
  margin-left: 0.5em;
  cursor: pointer;
}
.elections__view-icons svg,
.elections__view-icons i {
  color: var(--icon-color);
  font-size: 1.3rem;
}

.elections__view-icons.active svg,
.elections__view-btns.active i {
  color: var(--marker-color);
}

.elections__content {
  display: grid;
  gap: 0.6em;
  align-items: stretch;
  padding-bottom: 2em;
}

.elections__content.grid__view {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.6em;
  grid-auto-rows: minmax(200px, auto);
}
