.success {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: var(--main-green);
}

.success h2,
.success h1 {
  color: #fff;
}

.success__content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.success__content p {
  text-align: center;
}
.success__content-img {
  max-width: 550px;
  width: 100%;
  height: 350px;
}

.success__content-img img {
  width: 100px;
}
