@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Light Mode */
  --bg-color: #fafafa;
  --text-color: #212529;
  --primary-color: #506aebd8;
  --hover-primary: #0056b3;
  --secondary-color: #ffffff;
  --marker-color: #eb7821;
  --focus-outline: #80bdff;
  --accent-color: #212121;

  --card-bg: #ffffff;
  --border-color: #ced4da;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --error-color: #dc3545;
  --selection-bg: #b8daff;
  --selection-text: #212529;
}

.dark:root {
  /* Dark Mode */
  --primary-color: #1e90ff;
  --secondary-color: #152021;
  --bg-color: #0f0b0c;
  --card-bg: #2e2e38;
  --text-color: #e9ecef;
  --border-color: #343a40;
  --accent-color: #f2f2f2;

  --hover-primary: #1c73b8;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --error-color: #dc3545;
  --focus-outline: #4b9cdb;
  --selection-bg: #3a3a56;
  --selection-text: #e9ecef;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -moz-user-drag: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1760df;
  cursor: grabbing;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}

img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.5em 0.8em 0.5em;
  font-size: 1rem;
  color: var(--text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.title__text {
  font-family: "monstera", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body__text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.underline {
  border-radius: 1px;
  border-bottom: 2px solid var(--text-color);
}

.inline {
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  padding: 0.9em 1em;
  background-color: var(--primary-color);
  border-radius: 0.3em;
  color: var(--text-color);
  border: none;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
}

a.active {
  background-color: var(--primary-color);
  color: var(--hover-primary);
  padding: 0.5em;
}

.btn:hover {
  opacity: 0.9;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #00523f;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #00523f;
  }
}
