@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Light Mode */
  --bg-color: #e8e9eb;
  --text-color: #282c36;

  --primary-color: #79a4a8;
  --secondary-color: #f5f6f7;
  --hover-primary: #212b2e;

  --marker-color: #ffc229;
  --accent-color: #808080;
  --icon-color: #28a745;

  --btn-color: #ffc229;
  --btn-hover: #dda518ed;

  --focus-outline: #80bdff;
  --success-color: #3fe365;
  --warning-color: #ffc107;
  --error-color: #dc3545;

  --selection-bg: #978140;
  --selection-text: #fff;
}

.dark:root {
  /* Light Mode */
  --bg-color: #282c36;
  --text-color: #e8e9eb;

  --primary-color: #162021;
  --secondary-color: #1a1c21;
  --hover-primary: #212b2e;

  --marker-color: #ffc229;
  --accent-color: #808080;
  --icon-color: #28a745;

  --btn-color: #ffc229;
  --btn-hover: #dda518ed;

  --focus-outline: #80bdff;
  --success-color: #3fe365;
  --warning-color: #ffc107;
  --error-color: #dc3545;

  --selection-bg: #978140;
  --selection-text: #fff;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -moz-user-drag: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--selection-bg);
  border-radius: 1.6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1760df;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  /* background: var(--bg-color); */
  /* background-color: var(--bg-color); */
}

img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.5em 0.8em 0.5em;
  font-size: 1rem;
  color: var(--text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.title__text {
  font-family: "monstera", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

.body__text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.underline {
  border-radius: 1px;
  border-bottom: 2px solid #fff;
}

.inline {
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  padding: 0.9em 1em;
  background-color: var(--marker-color);
  border-radius: 0.3em;
  color: var(--text-color);
  border: none;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
}

.auth__btns {
  background-color: #ffc107;
}

a.active {
  color: var(--text-color);
  padding: 0.5em;
}

.btn:hover {
  opacity: 0.9;
}

.back-btn {
  background-color: #28a745;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--bg-color);
  }
}
