@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color-card: #dbf6fd;

  /* dashboard */
  --nav-bg-color: #1a1c22;
  --layout-bg-color: #282c35;
  --icon-color: #1fcb4f;
  --text-color: #ffffff;
  --nav-text-color: #a9a9a9;

  /* authentication */
  --bg-color: #00523f;
  --secondary-color: #ffc42a;
  --font-family: "Montserrat", sans-serif;

  /* create election */
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}

/* dark mode */
.dark:root {
  --app-container: #1f1d2b;
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255, 255, 255, 0.8);
  --projects-section: #1f2937;
  --link-color: rgba(255, 255, 255, 0.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255, 255, 255, 0.1);
  --star: #ffd92c;
  --light-font: rgba(255, 255, 255, 0.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover: rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
}

::selection {
  background: var(--secondary-color);
  color: var(--secondary-bg-color);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -moz-user-drag: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1760df;
  cursor: grabbing;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
}

img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.5em 0.8em 0.5em;
  font-size: 1rem;
  color: var(--text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.title__text {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body__text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.underline {
  border-radius: 1px;
  border-bottom: 2px solid var(--text-color);
}

.inline {
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  padding: 0.9em 1em;
  background-color: var(--secondary-color);
  border-radius: 0.3em;
  color: var(--secondary-bg-color);
  border: none;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
}

a.active {
  background-color: var(--secondary-color);
  color: var(--secondary-bg-color);
  padding: 0.5em;
}

.btn:hover {
  opacity: 0.9;
}
